ul{
    margin: 10px 0 70px;
    padding: 0;
}
li{
    list-style-type: none;
    font-size: 20px;
    color: blue;
    font-weight: 500;
    margin: 0 20px 0 0;
}


.sum input{
    border: 1px solid #333;
    margin-bottom: 16px;
    width: 40px;
}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

.mat-button{
    background-color: blue;
    color: #fff;
    min-width: 80px;
}
.mat-button{
    background-color: red;
}