.signin-form{
    width: 100%;
    & mat-card{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
        padding: 50px !important;
        border-radius: 12px;
        & input{
            width: 300px;
            height: 40px;
            padding: 0 10px;
            margin: 8px 0;
            font-size: 18px;
            border: 0;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            &::placeholder{
                color: #494949;
            }
        }
    }
}