<!-- <div fxLayout="row" #headerBg fxLayoutAlign="start center"> -->
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="openSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="employeeDashboard" routerLinkActive="active">Employee Dashboard</a>
        <a routerLink="hotels" routerLinkActive="active">Hotels</a>
        <a routerLink="bowling" routerLinkActive="active">Bowling</a>
        <a routerLink="excercises" routerLinkActive="active">Excercises</a>
        <span fxFlex></span>
        <div fxLayout="column">
            <button *ngIf="logoutBtn" mat-raised-button (click)="logout()">Logout</button>
        </div>
    </mat-toolbar>