table{
    width: 600px;
}
.mat-card{
    & img{
        width: 100%;
        max-height: 170px;
        border: solid 1px rgb(168, 168, 168);
    }
    & h2{
        background-color: #9d7dfb;
        color: #fff;
        margin: 0;
        padding-left: 12px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}