.ar-num{
    background-color: greenyellow;
    width: 100px;
    height: 30px;
    border: solid 1px rgb(40, 44, 33);
}
.heading{
    background-color: greenyellow;
    padding: 10px;
    border: solid 1px rgb(40, 44, 33); 
}
.border{
    border: solid 1px rgb(40, 44, 33);
}
.mh-90{
    min-height: 90px;
}
.topVal{
    width: 50px;
    height: 50px;
}
.sumValue{
    width: 100px;
}
.arr-section{
    width: 100px;
    min-height: 100px;
    border: solid 1px rgb(40, 44, 33);
}