<div fxLayout="column" class="main-container">
  <app-header (SideNavToggle)="sidenav.toggle()"></app-header>
  <div fxFlex fxLayout="column" fxLayoutAlign="start center" class="p-20 width100">
    <router-outlet></router-outlet>
  </div>

</div>
<mat-sidenav #sidenav>
  <app-sidenav (closeSideNav)="sidenav.close()"></app-sidenav>
</mat-sidenav>
  <!-- <div fxFlex class="gray-bg">
    <span></span> -->
    <!-- <app-header [headName]="heading" (navigation)="onNavigation($event)"></app-header> -->
    <!-- <div class="p-20 container"> -->
      <!-- <div fxLayout="column" *ngIf="loadedFeature == 'recipe'">
        <app-recipes [pgHeading]="pageHeading"></app-recipes>
      </div>
      <div fxLayout="row" *ngIf="loadedFeature == 'shopping-list'">
        <app-shopping-list [element]="sOffer"></app-shopping-list>   
      </div>
  
      <div fxLayout="row" *ngIf="loadedFeature == 'services'">
        <app-services></app-services>   
      </div> -->
    
      <!-- <hr> -->
      <!-- <div fxLayout="row">
        <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex> 
          
          <hr>
          <div fxLayout="row">
            <div fxLayout="column">
              <div fxLayout="row">
                <button mat-raised-button color="primary" class="m-r-5" (click)="onChangeFirst()">Change first Element</button>
                <button mat-raised-button color="warn" (click)="onDestroyFirst()">On Destroy</button>
              </div>
              <h2 class="m-t-10" #childUpdate>Angular View child</h2>
              
              <mat-radio-button value="1" #radioText>Option 1</mat-radio-button>
    
    
              <app-server-element *ngFor="let serverElement of serverElements" [placeHolder]="textValue"
              [srvElement]="serverElement" [name]="serverElement.name" [serviceName]="headText" (intervalFired)="gameStart($event)">
              <p #contentParagraph>
                <strong *ngIf="serverElement.type=== 'server'" style="color: red">
                    {{serverElement.content}}
                </strong>
                <em *ngIf="serverElement.type=== 'blueprint'">
                    {{serverElement.content}}
                </em>
            </p>
            </app-server-element>
            {{parentCount}}
            </div>
          </div>
        </div>
      </div> -->
    <!-- </div>
  </div> -->