<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="communication" (click)="onToggleClose()">
        <mat-icon class="material-symbols-outlined m-r-10">
            forum
        </mat-icon>
        Communication
    </a>
    <a mat-list-item routerLink="shopping" (click)="onToggleClose()">
        <span class="material-symbols-outlined m-r-10">
            diamond
        </span>
        Shopping list
    </a>
    <a mat-list-item routerLink="courses" (click)="onToggleClose()">
        <span class="material-icons-outlined m-r-10">
            miscellaneous_services
        </span>
        Courses
    </a>
  </mat-nav-list>